.radio-button-group__container {
  display: flex;
  align-items: center;
  color: #707070;
}
.radio-button-group__heading {
  font-size: 16px;
  font-weight: normal;
  white-space: pre-line;
  margin: 0;
  margin-right: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group__input {
  display: none;
}

.radio-button-group__label {
  width: 72px;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #707070;
  border-width: 1px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group__label:nth-child(2) {
  border-width: 1px 0 1px 1px;
  border-radius: 25px 0 0 25px;
}

.radio-button-group__label:last-child {
  border-width: 1px 1px 1px 0;
  border-radius: 0 25px 25px 0;
}

.radio-button-group__label:hover {
  cursor: pointer;
}

.radio-button-group__label--selected {
  background-color: #e80070;
  border-color: #e80070;
  color: white;
}
