.radio-button-group {
  font-size: var(--base-unit);
  --radio-button-group__primary-color: var(--primary-color);
  --radio-button-group__accent-color: var(--accent-color);
  --radio-button-group__disabled-color: var(--disabled-color);
  --radio-button-group__text: var(--sans-regular);
  --radio-button-group__selected-text: var(--sans-medium);
  --radio-button-group__button-height: var(--button-height);
  --radio-button-group__border-width: var(--border-width);
}

.radio-button-group--clickable {
  color: var(--radio-button-group__primary-color);
}

.radio-button-group--disabled {
  color: var(--radio-button-group__disabled-color);
}

.radio-button-group__container {
  display: flex;
  align-items: center;
}

.radio-button-group__heading {
  font: var(--radio-button-group__text);
  white-space: pre-line;
  margin: 0;
  margin-right: 0.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group__label {
  display: flex;
  align-items: center;
  width: calc(1.618 * var(--radio-button-group__button-height));
  height: var(--radio-button-group__button-height);
  border-style: solid;
  border-width: var(--radio-button-group__border-width) 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group--clickable .radio-button-group__label {
  border-color: var(--radio-button-group__primary-color);
}

.radio-button-group--disabled .radio-button-group__label {
  border-color: var(--radio-button-group__disabled-color);
}

.radio-button-group__label:nth-child(2) {
  border-width: var(--radio-button-group__border-width) 0
    var(--radio-button-group__border-width)
    var(--radio-button-group__border-width);
  border-radius: calc(0.5 * var(--radio-button-group__button-height)) 0 0
    calc(0.5 * var(--radio-button-group__button-height));
}

.radio-button-group__label:last-child {
  border-width: var(--radio-button-group__border-width)
    var(--radio-button-group__border-width)
    var(--radio-button-group__border-width) 0;
  border-radius: 0 calc(0.5 * var(--radio-button-group__button-height))
    calc(0.5 * var(--radio-button-group__button-height)) 0;
}

.radio-button-group--clickable .radio-button-group__label:hover {
  cursor: pointer;
}

.radio-button-group__label--selected {
  color: white;
}

.radio-button-group--clickable .radio-button-group__label--selected {
  background-color: var(--radio-button-group__accent-color);
  border-color: var(--radio-button-group__accent-color);
}

.radio-button-group--disabled .radio-button-group__label--selected {
  background-color: var(--radio-button-group__disabled-color);
  border-color: var(--radio-button-group__disabled-color);
}

.radio-button-group__label-text {
  font: var(--radio-button-group__text);
  text-transform: uppercase;
  margin: auto;
}

.radio-button-group__label--selected .radio-button-group__label-text {
  font: var(--radio-button-group__selected-text);
}

.radio-button-group__input {
  display: none;
}
