.color-stripe {
  font-size: var(--base-unit);
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.color-stripe__heading {
  font: var(--mono-regular);
  text-transform: uppercase;
  flex: 0 1 auto;
  margin: 0 0 1em;
}

.color-stripe__heading--theme-dark {
  color: white;
}

.color-stripe__heading--theme-light {
  color: black;
}

.color-stripe__pairs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin: 1em 0 1em;
}
