.color-pair {
  font-size: var(--base-unit);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 2em;
  transition: all 0.2s ease;
  justify-content: center;
  flex: 1 1 1em;
  border: solid transparent;
  border-width: 2px 0;
}

.color-pair--hide {
  display: none;
}

.color-pair:hover {
  transition: all 0.2s ease;
  justify-content: space-evenly;
  border-color: unset;
}

.color-pair--enable-hover-grow:hover {
  transition: flex 0.2s ease;
  flex: 2 1 1em;
}

.color-pair::before,
.color-pair::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;
}

.color-pair::before {
  right: 100%;
}

.color-pair::after {
  left: 100%;
}

.color-pair__heading {
  font: var(--mono-medium);
  text-transform: uppercase;
  margin: 0;
}

.color-pair__contrast,
.color-pair__text-size--Any {
  font: var(--sans-regular);
}

.color-pair__text-size--Large {
  font: var(--sans-medium);
}

.color-pair__contrast,
.color-pair__text-size {
  margin: 0;
  transition: all 0.2s ease;
  font-size: 0;
  opacity: 0;
}

.color-pair:hover .color-pair__contrast,
.color-pair:hover .color-pair__text-size {
  transition: all 0.2s ease;
  font-size: 1.8em;
  opacity: 1;
}

.color-pair__heart {
  transition: all 0.2s ease;
  width: 0;
  height: 0;
  opacity: 0;
}

.color-pair:hover .color-pair__heart {
  transition: all 0.2s ease;
  width: 3em;
  height: 3em;
  opacity: 1;
}
