.app {
  --base-unit: 1rem;
  --primary-color: #707070;
  --accent-color: #e80070;
  --disabled-color: #959595;
  --sans-regular: 400 1.8em/1.3 "Poppins", sans-serif;
  --sans-medium: 600 1.8em/1.3 "Poppins", sans-serif;
  --mono-regular: 400 1.8em/1.3 "Roboto Mono", monospace;
  --mono-medium: 600 2.6em/1 "Roboto Mono", monospace;
  --settings-bar-height: 9em;
  --button-height: 4em;
  --border-width: 0.1em;
}

.app {
  font-size: var(--base-unit);
  height: 100%;
  text-align: center;
}

.app__settings-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: var(--settings-bar-height);
  border-bottom: var(--border-width) solid var(--primary-color);
}

.app__main {
  height: calc(100% - var(--settings-bar-height));
}
